---
layout: default
---

<div class="home">
  <h1 class="page-heading">
    SIP {{ page.sip | xml_escape }}: {{ page.title | xml_escape }}
  </h1>
  <table>
    {% if page.layer != undefined %}
    <tr><th>Layer</th><td>{{ page.layer | xml_escape }}</td></tr>
    {% endif %}
    <tr><th>Author</th><td>{% include authorlist.html authors=page.author %}</td></tr>
    {% if page.comments-summary != undefined %}
    <tr><th>Comments Summary</th><td>{{ page.comments-summary | xml_escape }}</td></tr>
    {% endif %}
    <tr><th>Comments URI</th><td><a href="{{ page.comments-uri | xml_escape
                                          }}">{{ page.comments-uri | xml_escape }}</a></td></tr>
    <tr><th>Status</th><td>{{ page.status | xml_escape }}</td></tr>
    <tr><th>Type</th><td>{{ page.type | xml_escape }}</td></tr>
    <tr><th>Created</th><td>{{ page.created | xml_escape }}</td></tr>
    {% if page.license != undefined %}
    <tr><th>License</th><td>{{ page.license | xml_escape }}</td></tr>
    {% endif %}
    {% if page.updated != undefined %}
    <tr><th>Updated</th><td>{{ page.updated | xml_escape }}</td></tr>
    {% endif %}
    {% if page.requires != undefined %}
    <tr><th>Requires</th><td>{% include sipnums.html sips=page.requires %}</td></tr>
    {% endif %}
    {% if page.replaces != undefined %}
    <tr><th>Replaces</th><td>{% include sipnums.html sips=page.replaces %}</td></tr>
    {% endif %}
    {% if page.superseded-by != undefined %}
    <tr><th>Superseded by</th><td>{% include sipnums.html sips=page.superseded-by %}</td></tr>
    {% endif %}
  </table>

  {{ content }}

</div>
